// $fontSize: 10px;
$titleFont: 'Staatliches', cursive;
$bodyFont: 'Asap Condensed', cursive;
$bodyFont2: 'ZCOOL QingKe HuangYou', cursive; 

body{
    font-family: $bodyFont;
    @include fontSize(clamp(2rem, 3vw, 3rem));
}

a{
    text-shadow: 2px 2px orange;
    
    &:hover, :active{
    text-decoration: underline;
    }
}

h1{
    @include fontSize(clamp(5rem, 9vw, 8rem));
    font-family: $titleFont;
    line-height: clamp(6.5rem, 10vw, 10rem);
    margin: 3% 0;
}