$titleFont: 'Luckiest Guy', cursive;
$bodyFont: 'Indie Flower', cursive;

body{
    font-family: $bodyFont;
    @include fontSize(clamp(2rem, 3vw, 3rem));
}

button{
    font-family: $bodyFont;
}

a{
    text-shadow: 2px 2px orange;
    
    &:hover, &:active, &:focus{
        text-decoration: underline;
    }
}

p, figure, h1, h2, h3 {
    margin: 0;
}

h1{
    @include fontSize(clamp(6rem, 9vw, 8rem));
    font-family: $titleFont;
    line-height: clamp(6.5rem, 10vw, 10rem);
}

h2{
    @include fontSize(clamp(2rem, 4vw, 4rem));
    font-family: $titleFont;
    line-height: clamp(2.5rem, 4.5vw, 4.5rem);
}