html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* img {
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.skip-link {
  position: fixed;
  top: -200px;
  background: #000;
  color: #FFF;
  padding: 10px;
}

.skip-link:focus {
  top: 0;
  /* Now the link will appear */
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: "Indie Flower", cursive;
  font-size: clamp(2rem, 3vw, 3rem);
  line-height: clamp(2rem, 3vw, 3rem) + 2px;
}

button {
  font-family: "Luckiest Guy", cursive;
}

a {
  text-shadow: 2px 2px orange;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
}

p, figure, h1, h2, h3 {
  margin: 0;
}

h1, h2, footer p {
  font-family: "Luckiest Guy", cursive;
}

h1 {
  font-size: clamp(6rem, 9vw, 8rem);
  line-height: clamp(6rem, 9vw, 8rem) + 2px;
  line-height: clamp(6.5rem, 10vw, 10rem);
}

h2 {
  font-size: clamp(2rem, 4vw, 4rem);
  line-height: clamp(2rem, 4vw, 4rem) + 2px;
  line-height: clamp(2.5rem, 4.5vw, 4.5rem);
}

footer p {
  font-size: clamp(1rem, 2vw, 3rem);
  line-height: clamp(1rem, 2vw, 3rem) + 2px;
}

button {
  background-color: #076533;
  color: white;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
}

button:hover, button:active, button:focus {
  border-color: white;
}

html {
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
}

body > * {
  scroll-snap-align: start;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

header, main, .info {
  background: -webkit-gradient(linear, left top, left bottom, from(#d7F0Fd), to(#12e072));
  background: linear-gradient(to bottom, #d7F0Fd, #12e072);
  padding: calc(min(3vw, 36px));
}

header {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

h1, .introBlock {
  z-index: 10;
  position: relative;
  width: 100%;
}

h1 {
  text-align: right;
}

h1 span {
  text-shadow: 1px 1px #d7F0Fd, -1px -1px rgba(18, 224, 114, 0.5);
  color: #076533;
}

.introBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.intro {
  width: 50%;
  text-align: center;
}

.intro p {
  width: 100%;
  padding: 2% 0;
}

.intro p span {
  padding-bottom: 2%;
  display: block;
}

button.start, .options button {
  width: 100%;
  padding: 4% 2% 2% 2%;
  margin: 5% 0;
}

.headerImage {
  position: absolute;
  bottom: 0;
  left: 0;
}

.headerImage img {
  width: 50%;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: calc(min(2vw, 24px));
  height: 100vh;
  padding: calc(min(3vw, 36px));
  position: relative;
}

.card {
  width: calc(min(((1200px - 240px) / 8), ((100vh - 120px) / 4)));
  height: calc(min(((1200px - 240px) / 6), ((100vh - 120px) / 3)));
  position: relative;
}

.cardBack, .cardFront {
  border: 1px solid #076533;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px #076533;
          box-shadow: 2px 2px 2px #076533;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.cardBack {
  background: url(../assets/treeCardBack.jpg) no-repeat;
  background-size: cover;
}

.options {
  padding: 5%;
  background: #12e072;
  border-radius: 10px;
  border: 10px solid transparent;
  width: 50%;
  position: absolute;
}

h2.complete {
  text-align: center;
}

h2.complete span {
  display: block;
}

.options button {
  font-size: 2rem;
  margin: 2% 0;
}

.info {
  min-height: calc(100vh - 60px);
}

.info h2 {
  display: inline-block;
}

.info select {
  background: url("../assets/arrow.png") right top no-repeat;
  background-size: contain;
  border: none;
  border-bottom: 2px solid #076533;
  padding-right: 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.treeformationBlock {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  gap: calc(min(2vw, 24px));
  margin-top: calc(min(3vw, 36px));
}

.leftSide {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: calc(min(2vw, 24px));
}

.leftSide figcaption {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.photoAttribution {
  display: block;
  font-weight: normal;
}

.rightSide h3 {
  display: inline-block;
  margin-bottom: 15px;
}

.rightSide h3:last-of-type {
  margin-bottom: 0;
}

.rightSide span::after {
  content: "\A";
  white-space: pre;
}

footer {
  background-color: #7e3f02;
  color: white;
  text-align: center;
  padding: 15px;
  height: 60px;
}

@media (max-width: 850px) {
  h1 {
    text-align: center;
  }
  .intro {
    width: 100%;
  }
  .intro p {
    background: rgba(215, 240, 253, 0.6);
    border-radius: 5px;
    border: 2px solid transparent;
    line-height: 30px;
  }
  .headerImage img {
    width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 650px) {
  .headerImage img {
    width: 100%;
  }
}

@media (max-aspect-ratio: 2 / 1) {
  .card {
    width: calc((min(100vw, 1200px) - 20vw) / 8);
    height: calc((min(100vw, 1200px) - 20vw) / 6);
  }
}

@media (max-aspect-ratio: 13 / 8) {
  main {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
  .card {
    width: calc((100vh - 12vw) * 3 / 16);
    height: calc((100vh - 12vw) / 4);
  }
}

@media (max-aspect-ratio: 9 / 8) {
  .card {
    width: calc((min(100vw, 1200px) - 16vw) / 6);
    height: calc((min(100vw, 1200px) - 16vw) / 4.5);
  }
}

@media (max-aspect-ratio: 13 / 16) {
  main {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .card {
    width: calc((100vh - 16vw) / 8);
    height: calc((100vh - 16vw) / 6);
  }
}

@media (max-aspect-ratio: 1 / 2) {
  .card {
    width: calc((min(100vw, 1200px) - 12vw) / 4);
    height: calc((min(100vw, 1200px) - 12vw) / 3);
  }
}
